{%extends "base.html.twig" %} 
{% block title %}Atelier Vélo du Vernet{% endblock %}

{% block body %}
<main>
    <div>
        {{ include("template_part/menu.html.twig", {pp: 'menu'} )}}
    </div>
    
    <h2>Security</h2>

    <div class="container mt-3">  
    {# success message #}
    {# {% for message in app.flashes('success') %}
        <div class="row d-flex flex-row justify-content mb-2">
            <div class="alert alert-success">{{ message }}</div>
        </div> 
    {% endfor %} #}

    <h2>Add a new User</h2> 
        {{ form_start(form)}} 
        {# {{ form_rest(form)}}  #}

        {{ form_row(form.username)}} 
        {{ form_row(form.role)}} 
        {{ form_row(form.password)}} 

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-sm">Save</button>
        </div>
        {{ form_end(form)}} 
</div>


</main>
    {{ include("template_part/footer.html.twig", {pp: 'footer'} )}}
{% endblock %}

